body{
    overflow: scroll;
}
ul{
    list-style: none;
    padding: 0;
    width: 500px;
    margin: 0 auto 50px;
}
li{
    border: 1px solid #eee;
    border-top: none;
    padding: 5px;
    font-family: arial, sans-serif;
    font-size: 17px;
    color: #3c3c3c;
}
li:nth-child(1){
    border-top: 1px solid #eee;
}
input[type="text"]{
    box-sizing: border-box;
    width: 500px;
    display: block;
    margin: 50px auto;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
}